.nav {
  width: 100%;
  position: sticky;
  height: 48px;
  /* background-color: rgb(210, 210, 208); */

  display: flex;

  align-items: center;
  padding: 50px 100px;

  gap: 30px;

  > a {
    color: #000;
    text-decoration: none;
  }
}

.link {
  position: relative;
}

.underline {
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #000;
}
